html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei', 'PingFang SC', Helvetica, 'Helvetica Neue', 'Hiragino Sans GB', Arial, sans-serif;
}

div,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}